<!-- <div class="form-group">
    <div class="form-group">
        <form>
            <div class="form-group">
                <label class="form-group">Pokemon Name</label>
                <input type="text" class="form-group" />
            </div>
            <div class="form-group">
                <label class="form-group">Pokemon description</label>
                <textarea type="form-group" rows = 7 cols= 20></textarea>
            </div>
            <div class="form-group">
                <label class="form-group">Pokemon Level</label>
                <input type="text" class="form-group" />
            </div>
            <li>
                <button type="submit" class="form-group">Create Pokemon</button>
            </li>
        </form>
    </div>
</div> -->
<form class="container" [formGroup]="angForm" novalitdate>
    <div class="form-style-1">
        <li><label>Pokemon Name</label><input type="text" name="field1" class="field-long" class="form-control" 
            formControlName= "PokemonName"
            #PokemonName /></li>
        <div>
            <label>Generation</label>
            <select name="field4" class="field-select">
            <option value="Gen_1">Gen 1</option>
            <option value="Gen_2">Gen 2</option>
            <option value="Gen_3">Gen 3</option>
            </select>
        </div>
        <li>
            <label>Description</label>
            <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
        </li>
        <li>
            <input type="submit" value="Submit" />
        </li>
    </div>
</form>